<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>blog</title>
  </head>
  <body>
    <h1>충남 여행 코스 추천 blog</h1>

    {# 로그인 상황일 때 : auth 앱의 user 모델 인스턴스 #} 
    {# 로그아웃 상황일 떄 : auth 앱의 Anonymoususer 클래스 인스턴스 #} 

    {% if not request.user.is_authenticated %}
        <a href="/register">회원가입</a> 
        <a href="/login">로그인</a>
    {% else %}
    <a href="/accounts/profile">프로필</a>
    <a href="/logout">로그아웃</a>

    {% endif %} 
    {% block content %} {% endblock %}
    <hr />
    &copy; 2025. 여기워뗘 여행사.
  </body>
</html>
